@mixin list-item {
	background-color: #EDF6FA;
	color: #7B7E81;
	padding: 5px;
	display: flex;
	align-items: center;
	margin: 0;

	&__remove {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		border: none;
		border-radius: 1px;
		background-color: #FFFFFF;
		color: #7B7E81;
		cursor: pointer;
		margin: 0 0 0 5px;
		transition: all .3s ease;

		&:hover {
			background-color: #007CBA;
			color: #FFFFFF;

			svg {
				fill: #FFFFFF;
			}
		}
	}
}

.jwb-custom-product-badges {
	&__head {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #DCDCDD;
		margin-bottom: 20px;
		padding-bottom: 15px;

		.jwb-custom-badges-add-form {
			flex: 0 0 75%;
			.cx-vui-component__control {
				display: flex;
				gap: 5px;

				> * {
					font-size: 13px;
					line-height: 20px;
					border-radius: 4px;
					padding: 5px 15px;
				}
			}

			input {
				background-color: #F4F4F5;
				color: #7B7E81;
				border: none;
				padding: 6px 15px;
				flex: 1 0 auto;

				&:focus {
					box-shadow: 0 0 0 2px #80BDDC inset;
					background-color: #FFFFFF;
					color: #23282D;
				}
			}

			button {
				background-color: #FFFFFF;
				border: 1px solid #007CBA;
				color: #007CBA;
				cursor: pointer;
				transition: all .15s ease;
				font-weight: 500;

				&:hover {
					color: #066EA2;
					border-color: #066EA2;
				}
			}
		}
	}

	&__body {
		h3 {
			border-bottom: 1px solid #DCDCDD;
			margin-bottom: 20px;
			padding: 15px 0 5px;
		}

		.jwb-custom-product-badges-list {
			display: flex;
			flex-wrap: wrap;
			gap: 5px;

			&-item {
				@include list-item;

				cursor: default;

				&__actions {
					position: relative;

					.cx-vui-tooltip {
						left: 50%;
						width: 110px;
						box-sizing: border-box;
						transform: translateX(-50%);

						span {
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}

#jet-woo-builder-badge-settings {
	.cx-control__content {
		flex: 0 1 100%;

		.select2-selection__choice {
			@include list-item;

			flex-direction: row-reverse;
			margin: 2px;
		}
	}
}